<!DOCTYPE html>
<html>
    <head>
        <title>Welcome to Simple Calculator</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <h1>Simple Calculator</h1>
        <form action='/calculate', method='post'>
            <input type='text' name='number1' placeholder='Number 1' required>
            <input type='text' name='number2' placeholder='Number 2' required>

            <select name='operation'>
                <option value='add'>Add</option>
                <option value='subtract'>Subtract</option>
                <option value='multiply'>Multiply</option>
                <option value='divide'>Divide</option>

                <input type='submit' value='Calculate'>
            </select>
        </form>
        {% if result %}
        <div class='result'>
            Result = {{ result }}
        </div>
        {% endif %}
    </body>
</html>