<!DOCTYPE>
<html>
    <head>
        <title>Welcome to SSHGOERS</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, intial-scale=1.0">
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <h1>
            Welcome to SSHGOERS
        </h1>
        <form action="/ssh", method="POST">
            <label for="hostname">Hostname</label>
            <input type="text", id="hostname",name="hostname" required>
            <br>
            <label for="username">Username</label>
            <input type="text", id="username",name="username" required>
            <br>
            <label for="password">Password</label>
            <input type="password", id="password", name="password" required>
            <br>
            <input type="submit", value="Execute">
        </form>
    </body>
</html>